<header class="header sticky-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-11 mb-3">
        <div class="logo">
          <h1>{{ title }}</h1>
        </div>
      </div>
      <div class="col-md-7 search-container mb-3">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="ПОИСК ..." [formControl]="searchValue"/>
          <button
            class="btn btn-outline-secondary"
            type="button"
            [routerLink]="['/search']"
          >
            <i class="fas fa-sliders-h"></i>
          </button>
          <button
            class="btn btn-outline-secondary"
            type="button"
            [routerLink]="['/search-result']"
          >
          <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 account-container mb-3">
        <a href="/auth/login" class="link-light">
          <i class="far fa-user-circle"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <nav class="col-sm-12 menu-container">
        <ul class="menu">
          <li>
            <a
              class="menu-link fs-5"
              routerLinkActive="active"
              [routerLink]="['/']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Главная</a
            >
          </li>
          <li>
            <a
              class="menu-link fs-5"
              routerLinkActive="active"
              [routerLink]="['/movie']"
              >Фильмы</a
            >
          </li>
          <li>
            <a
              class="menu-link fs-5"
              routerLinkActive="active"
              [routerLink]="['/categories']"
              >Сериалы</a
            >
          </li>
          <li>
            <a
              class="menu-link fs-5"
              routerLinkActive="active"
              [routerLink]="['/categories']"
              >Персоны</a
            >
          </li>
          <!-- <li>
            <a
              class="menu-link fs-5"
              routerLinkActive="active"
              [routerLink]="['/categories']"
              >Рецензии</a
            >
          </li> -->
          <li>
            <a
              class="menu-link fs-5"
              routerLinkActive="active"
              [routerLink]="['/categories']"
              >События</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-xs-12 year-container">
        <span class="year">© 2022</span>
      </div>
      <div class="col-sm-8 col-xs-12">
        <span class="git-name">
          <a
            class="decorate-link"
            href="https://github.com/antoshkoo"
            target="_blank"
            >antoshkoo</a
          >
          <a
            class="decorate-link"
            href="https://github.com/ivan-nesusanin"
            target="_blank"
            >ivan-nesusanin</a
          >
        </span>
      </div>
      <div class="col-sm-2 col-xs-12 logo-container">
        <a href="https://rs.school/js/" target="_blank">
          <img
            src="./assets/svg/rs_school.svg"
            alt="logo RS School"
            height="30"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
