/* You can add global styles to this file, and also import other style files */
// @import 'scss/layout/main';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './styles/scss/abstracts/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   scroll-padding-top: 110px;
// }

.body {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: /* #192f2d */ $bg-color;
  color: #fff;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
